<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pollock Sign In</title>
</head>
<body>
  <form method="post" action="/auth/getUser" >
    <input type="text" class="form-control" name="email" required>
    <input  id="password" type="password" class="form-control" name="password" required>
    <input id="submit" type="submit" className="button" value="Sign-in">
  </form> 
</body>
</html>