.box {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border: solid 4px black;
  display: inline-block;
}

.btn {
  display: block;
  margin-bottom: 20px;
}

#nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 3em;
  background: rgba(28, 43, 63, 0.658);
  color: rgb(226, 226, 226);
}

#nav-ul {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.color-picker {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#cont1 {
  height:'300px';
  width:'300px';
}


